### **IMPORT PACKAGES**

In [1]:
import pandas as pd
import numpy as np

### **LOAD DATASETS**

In [2]:
# nba.com
nba_achievements = pd.read_csv(filepath_or_buffer='data_[nba.com]/nba_achievements.csv')
nba_all_time_records = pd.read_csv(filepath_or_buffer='data_[nba.com]/nba_all_time_records.csv')
nba_hall_of_fame = pd.read_csv(filepath_or_buffer='data_[nba.com]/nba_hall_of_fame.csv')
nba_roster = pd.read_csv(filepath_or_buffer='data_[nba.com]/nba_roster.csv')
nba_teams = pd.read_csv(filepath_or_buffer='data_[nba.com]/nba_teams.csv')

# basketball-reference.com
nba_active_teams = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/nba_active_teams.csv')
nba_defunct_teams = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/nba_defunct_teams.csv')
nba_players = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/nba_players.csv')
season_meta = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/season_meta.csv')
team_stats = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/team_stats.csv')
team_stats_per_game = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/team_stats_per_game.csv')
player_stats = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/player_stats.csv')
player_stats_per_game = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/player_stats_per_game.csv')
team_ratings = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/team_ratings.csv')
rookie_stats = pd.read_csv(filepath_or_buffer='data_[basketball-reference.com]/rookie_stats.csv')

### **nba_achievements.csv**

In [3]:
nba_achievements.columns = nba_achievements.columns.str.lower().str.replace(' ', '_')
nba_achievements.rename(columns={'team_name': 'team'}, inplace=True)
nba_achievements['team'] = nba_achievements['team'].str.title()
nba_achievements

                  team   achievement_type  year
0       Boston Celtics  Championship Wins  1957
1       Boston Celtics  Championship Wins  1959
2       Boston Celtics  Championship Wins  1960
3       Boston Celtics  Championship Wins  1961
4       Boston Celtics  Championship Wins  1962
..                 ...                ...   ...
466  San Antonio Spurs    Division Titles  2012
467  San Antonio Spurs    Division Titles  2013
468  San Antonio Spurs    Division Titles  2014
469  San Antonio Spurs    Division Titles  2016
470  San Antonio Spurs    Division Titles  2017

[471 rows x 3 columns]

### **nba_all_time_records.csv**

In [4]:
nba_all_time_records.drop(columns='Player Link', inplace=True)
nba_all_time_records.columns = nba_all_time_records.columns.str.lower().str.replace(' ', '_')
nba_all_time_records.rename(columns={'team_name': 'team'}, inplace=True)
nba_all_time_records['team'] = nba_all_time_records['team'].str.title()
nba_all_time_records

                  team     record_type         player  stat_value
0       Boston Celtics    Total Points  John Havlicek       26395
1       Boston Celtics   Total Assists      Bob Cousy        6945
2       Boston Celtics  Total Rebounds   Bill Russell       21620
3       Boston Celtics    Total Blocks  Robert Parish        1703
4       Boston Celtics    Total Steals    Paul Pierce        1583
..                 ...             ...            ...         ...
145  San Antonio Spurs    Total Points     Tim Duncan       26496
146  San Antonio Spurs   Total Assists    Tony Parker        6829
147  San Antonio Spurs  Total Rebounds     Tim Duncan       15091
148  San Antonio Spurs    Total Blocks     Tim Duncan        3020
149  San Antonio Spurs    Total Steals  Manu Ginobili        1392

[150 rows x 4 columns]

### **nba_hall_of_fame.csv**

In [5]:
nba_hall_of_fame.drop(columns='Player Link', inplace=True)
nba_hall_of_fame.columns = nba_hall_of_fame.columns.str.lower().str.replace(' ', '_')
nba_hall_of_fame.rename(columns={'team_name': 'team', 'seasons_with_team': 'seasons'}, inplace=True)
nba_hall_of_fame['team'] = nba_hall_of_fame['team'].str.title()
nba_hall_of_fame

                  team             player  pos    seasons  year_of_induction
0       Boston Celtics        Paul Pierce    F  1999-2013               2021
1       Boston Celtics      Kevin Garnett    F  2008-2013               2020
2       Boston Celtics       Chuck Cooper    F  1951-1954               2019
3       Boston Celtics      Paul Westphal    G  1973-1975               2019
4       Boston Celtics      Charlie Scott    G  1976-1978               2018
..                 ...                ...  ...        ...                ...
367  San Antonio Spurs     David Robinson    C  1990-2003               2009
368  San Antonio Spurs  Dominique Wilkins    F       1997               2006
369  San Antonio Spurs       Moses Malone    C       1995               2001
370  San Antonio Spurs      George Gervin  G-F  1974-1985               1996
371  San Antonio Spurs        Cliff Hagan    F  1968-1970               1978

[372 rows x 5 columns]

### **nba_roster.csv**

In [6]:
nba_roster.drop(columns=['Birthdate', 'School', 'Player Link'], inplace=True)
nba_roster.columns = nba_roster.columns.str.lower().str.replace(' ', '_')
nba_roster.rename(columns={'team_name': 'team'}, inplace=True)
nba_roster['team'] = nba_roster['team'].str.title()
nba_roster['#'] = nba_roster['#'].str.replace('#', '')
nba_roster['height'] = nba_roster['height'].str.split('-').apply(lambda x: int(x[0]) * 12 + int(x[1]))
nba_roster['weight'] = nba_roster['weight'].str.split().str[0]
nba_roster['season'] = nba_roster['season'].str[:5] + (nba_roster['season'].str[:4].astype(int) + 1).astype(str)
nba_roster

,player,#,pos,height,weight,age,exp,how_acquired,team,season
0,Jayson Tatum,0,F-G,80,210,26,7,#3 Pick in 2017 Draft,Boston Celtics,2024-2025
1,Jrue Holiday,4,G,76,205,34,15,Traded from POR on 10/01/23,Boston Celtics,2024-2025
2,Jaylen Brown,7,G-F,78,223,28,8,#3 Pick in 2016 Draft,Boston Celtics,2024-2025
3,Kristaps PorziÅ†Ä£is,8,F-C,86,240,29,8,Traded from WAS on 06/23/23,Boston Celtics,2024-2025
4,Derrick White,9,G,76,190,30,7,Traded from SAS on 02/10/22,Boston Celtics,2024-2025
...,...,...,...,...,...,...,...,...,...,...
2572,Jakob Poeltl,25,C,85,245,25,4,NaN,San Antonio Spurs,2020-2021
2573,Keita Bates-Diop,31,F,80,229,25,2,NaN,San Antonio Spurs,2020-2021
2574,Tre Jones,33,G,73,185,21,R,#41 Pick in 2020 Draft,San Antonio Spurs,2020-2021
2575,Trey Lyles,41,F,81,234,25,5,NaN,San Antonio Spurs,2020-2021
2576,DaQuan Jeffries,55,G-F,77,230,23,1,NaN,San Antonio Spurs,2020-2021

### **nba_teams.csv & nba_active_teams**

In [7]:
nba_teams = nba_teams.loc[:, ['Division', 'Team Name']]
nba_teams['Division'] = nba_teams['Division'].str.title()
nba_teams.rename(columns={'Division': 'division', 'Team Name': 'team'}, inplace=True)
nba_teams.head()

   division                team
0  Atlantic      Boston Celtics
1  Atlantic       Brooklyn Nets
2  Atlantic     New York Knicks
3  Atlantic  Philadelphia 76ers
4  Atlantic     Toronto Raptors

In [8]:
nba_active_teams = nba_active_teams[nba_active_teams['end_year'] == '2024-25'].drop_duplicates(subset='franchise', ignore_index=True)
nba_active_teams.drop(columns='end_year', inplace=True)
nba_active_teams.rename(columns={'franchise': 'team', 'start_year': 'start_season'}, inplace=True)
nba_active_teams['start_season'] = nba_active_teams['start_season'].str[:5] + (nba_active_teams['start_season'].str[:4].astype(int) + 1).astype(str)
nba_active_teams.head()

,team,league,start_season,year,games,wins,losses,win_loss_percentage,playoff_years,first_place_division,conference_championship_win_years,league_championship_win_years
0,Atlanta Hawks,NBA,1949-1950,76,5952,2934,3018,0.493,49,12,0,1
1,Boston Celtics,NBA/BAA,1946-1947,79,6129,3646,2483,0.595,61,34,11,18
2,Brooklyn Nets,NBA/ABA,1967-1968,58,4627,2034,2593,0.440,31,5,2,2
3,Charlotte Hornets,NBA,1988-1989,35,2727,1179,1548,0.432,10,0,0,0
4,Chicago Bulls,NBA,1966-1967,59,4695,2389,2306,0.509,36,9,6,6

In [9]:
nba_active_teams = nba_teams.merge(right=nba_active_teams, on='team')
nba_active_teams.head()

,division,team,league,start_season,year,games,wins,losses,win_loss_percentage,playoff_years,first_place_division,conference_championship_win_years,league_championship_win_years
0,Atlantic,Boston Celtics,NBA/BAA,1946-1947,79,6129,3646,2483,0.595,61,34,11,18
1,Atlantic,Brooklyn Nets,NBA/ABA,1967-1968,58,4627,2034,2593,0.440,31,5,2,2
2,Atlantic,New York Knicks,NBA/BAA,1946-1947,79,6119,2982,3137,0.487,45,8,4,2
3,Atlantic,Philadelphia 76ers,NBA,1949-1950,76,5954,3103,2851,0.521,54,12,5,3
4,Atlantic,Toronto Raptors,NBA,1995-1996,30,2325,1099,1226,0.473,13,7,1,1

### **nba_defunct_teams.csv**

In [10]:
nba_defunct_teams.rename(columns={'franchise': 'team', 'start_year': 'start_season', 'end_year': 'end_season'}, inplace=True)
nba_defunct_teams['start_season'] = nba_defunct_teams['start_season'].str[:5] + (nba_defunct_teams['start_season'].str[:4].astype(int) + 1).astype(str)
nba_defunct_teams['end_season'] = nba_defunct_teams['end_season'].str[:5] + (nba_defunct_teams['end_season'].str[:4].astype(int) + 1).astype(str)
nba_defunct_teams.head()

,team,league,start_season,end_season,year,games,wins,losses,win_loss_percentage,playoff_years,first_place_division,conference_championship_win_years,league_championship_win_years
0,Anderson Packers,NBA,1949-1950,1949-1950,1,64,37,27,0.578,1,0.0,0,0
1,Baltimore Bullets,NBA/BAA,1947-1948,1954-1955,8,450,158,292,0.351,3,0.0,0,1
2,Chicago Stags,NBA/BAA,1946-1947,1949-1950,4,237,145,92,0.612,4,1.0,0,0
3,Cleveland Rebels,BAA,1946-1947,1946-1947,1,60,30,30,0.500,1,0.0,0,0
4,Denver Nuggets,NBA,1949-1950,1949-1950,1,62,11,51,0.177,0,0.0,0,0

### **nba_players.csv**

In [11]:
nba_players.columns = nba_players.columns.str.lower().str.replace(' ', '_')
nba_players['height'] = nba_players['height'].str.split('-').apply(lambda x: int(x[0]) * 12 + int(x[1]))
nba_players['birth_date'] = pd.to_datetime(arg=nba_players['birth_date'], format='%B %d, %Y')
nba_players

,name,from,to,pos,height,weight,birth_date,colleges,retired
0,Alaa Abdelnaby,1991,1995,F-C,82,240.0,1968-06-24,Duke,1
1,Zaid Abdul-Aziz,1969,1978,C-F,81,235.0,1946-04-07,Iowa State,1
2,Kareem Abdul-Jabbar,1970,1989,C,86,225.0,1947-04-16,UCLA,1
3,Mahmoud Abdul-Rauf,1991,2001,G,73,162.0,1969-03-09,LSU,1
4,Tariq Abdul-Wahad,1998,2003,F,78,223.0,1974-11-03,"Michigan, San Jose State",1
...,...,...,...,...,...,...,...,...,...
5280,Ante Å½iÅ¾iÄ‡,2018,2020,F-C,82,266.0,1997-01-04,NaN,1
5281,Jim Zoet,1983,1983,C,85,240.0,1953-12-20,Kent State University,1
5282,Bill Zopf,1971,1971,G,73,170.0,1948-06-07,Duquesne,1
5283,Ivica Zubac,2017,2025,C,84,240.0,1997-03-18,NaN,0
5284,Matt Zunic,1949,1949,G-F,75,195.0,1919-12-19,George Washington,1

### **season_meta.csv**

In [12]:
season_meta.columns = season_meta.columns.str.lower().str.replace(' ', '_')
season_meta.head()

,league_champion,most_valuable_player,rookie_of_the_year,ppg_leader,rpg_leader,apg_leader,ws_leader,season
0,Houston Rockets,David Robinson (27.6/10.8/2.9),"Grant Hill (19.9/6.4/5.0), Jason Kidd (11.7/5....",Shaquille O'Neal (29.3),Dennis Rodman (16.8),John Stockton (12.3),David Robinson (17.5),1994-1995
1,Chicago Bulls,Michael Jordan (30.4/6.6/4.3),Damon Stoudamire (19.0/4.0/9.3),Michael Jordan (30.4),Dennis Rodman (14.9),John Stockton (11.2),Michael Jordan (20.4),1995-1996
2,Chicago Bulls,Karl Malone (27.4/9.9/4.5),Allen Iverson (23.5/4.1/7.5),Michael Jordan (29.6),Dennis Rodman (16.1),Mark Jackson (11.4),Michael Jordan (18.3),1996-1997
3,Chicago Bulls,Michael Jordan (28.7/5.8/3.5),Tim Duncan (21.1/11.9/2.7),Michael Jordan (28.7),Dennis Rodman (15.0),Rod Strickland (10.5),Karl Malone (16.4),1997-1998
4,San Antonio Spurs,Karl Malone (23.8/9.4/4.1),Vince Carter (18.3/5.7/3.0),Allen Iverson (26.8),Chris Webber (13.0),Jason Kidd (10.8),Karl Malone (9.6),1998-1999

### **team_stats.csv**

In [13]:
team_stats.columns = team_stats.columns.str.lower().str.replace(' ', '_')
team_stats.rename(columns={'rk': 'rank'}, inplace=True)
team_stats

,rank,team,g,mp,fg,fga,fg%,3p,3pa,3p%,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,season
0,1,Orlando Magic,82,19930,3460,6899,0.502,523,1412,0.370,...,1149,2457,3606,2281,672,488,1297,1726,9091,1994-1995
1,2,Phoenix Suns,82,19830,3356,6967,0.482,584,1584,0.369,...,1027,2403,3430,2198,687,312,1167,1839,9073,1994-1995
2,3,Seattle SuperSonics,82,19830,3310,6741,0.491,491,1305,0.376,...,1068,2337,3405,2115,917,392,1295,2067,9055,1994-1995
3,4,San Antonio Spurs,82,19855,3236,6687,0.484,434,1158,0.375,...,1029,2661,3690,1919,656,456,1246,1871,8742,1994-1995
4,5,Utah Jazz,82,19780,3243,6339,0.512,301,801,0.376,...,874,2412,3286,2256,758,392,1289,2045,8726,1994-1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,26,Miami Heat,82,19755,3266,7022,0.465,1022,2765,0.370,...,766,2702,3468,2116,617,280,1038,1415,9032,2023-2024
884,27,Detroit Pistons,82,19755,3353,7236,0.463,906,2602,0.348,...,861,2692,3553,2088,531,384,1248,1688,9010,2023-2024
885,28,Charlotte Hornets,82,19730,3281,7133,0.460,989,2788,0.355,...,765,2538,3303,2033,562,371,1129,1472,8740,2023-2024
886,29,Portland Trail Blazers,82,19880,3227,7356,0.439,939,2723,0.345,...,1036,2469,3505,1894,627,354,1249,1654,8722,2023-2024
887,30,Memphis Grizzlies,82,19780,3145,7230,0.435,1071,3097,0.346,...,896,2598,3494,2025,673,501,1236,1563,8677,2023-2024

### **team_stats_per_game.csv**

In [14]:
team_stats_per_game.columns = team_stats_per_game.columns.str.lower().str.replace(' ', '_')
team_stats_per_game.rename(columns={'rk': 'rank'}, inplace=True)
team_stats_per_game

,rank,team,g,mp,fg,fga,fg%,3p,3pa,3p%,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,season
0,1,Orlando Magic,82,243.0,42.2,84.1,0.502,6.4,17.2,0.370,...,14.0,30.0,44.0,27.8,8.2,6.0,15.8,21.0,110.9,1994-1995
1,2,Phoenix Suns,82,241.8,40.9,85.0,0.482,7.1,19.3,0.369,...,12.5,29.3,41.8,26.8,8.4,3.8,14.2,22.4,110.6,1994-1995
2,3,Seattle SuperSonics,82,241.8,40.4,82.2,0.491,6.0,15.9,0.376,...,13.0,28.5,41.5,25.8,11.2,4.8,15.8,25.2,110.4,1994-1995
3,4,San Antonio Spurs,82,242.1,39.5,81.5,0.484,5.3,14.1,0.375,...,12.5,32.5,45.0,23.4,8.0,5.6,15.2,22.8,106.6,1994-1995
4,5,Utah Jazz,82,241.2,39.5,77.3,0.512,3.7,9.8,0.376,...,10.7,29.4,40.1,27.5,9.2,4.8,15.7,24.9,106.4,1994-1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,26,Miami Heat,82,240.9,39.8,85.6,0.465,12.5,33.7,0.370,...,9.3,33.0,42.3,25.8,7.5,3.4,12.7,17.3,110.1,2023-2024
884,27,Detroit Pistons,82,240.9,40.9,88.2,0.463,11.0,31.7,0.348,...,10.5,32.8,43.3,25.5,6.5,4.7,15.2,20.6,109.9,2023-2024
885,28,Charlotte Hornets,82,240.6,40.0,87.0,0.460,12.1,34.0,0.355,...,9.3,31.0,40.3,24.8,6.9,4.5,13.8,18.0,106.6,2023-2024
886,29,Portland Trail Blazers,82,242.4,39.4,89.7,0.439,11.5,33.2,0.345,...,12.6,30.1,42.7,23.1,7.6,4.3,15.2,20.2,106.4,2023-2024
887,30,Memphis Grizzlies,82,241.2,38.4,88.2,0.435,13.1,37.8,0.346,...,10.9,31.7,42.6,24.7,8.2,6.1,15.1,19.1,105.8,2023-2024

### **player_stats.csv**

In [15]:
team_mapping = {
    "MIL": "Milwaukee Bucks", 
    "DEN": "Denver Nuggets", 
    "OKC": "Oklahoma City Thunder", 
    "CHA": "Charlotte Hornets", 
    "DAL": "Dallas Mavericks", 
    "BOS": "Boston Celtics", 
    "LAL": "Los Angeles Lakers", 
    "MIN": "Minnesota Timberwolves", 
    "SAC": "Sacramento Kings", 
    "PHO": "Phoenix Suns", 
    "PHI": "Philadelphia 76ers", 
    "NYK": "New York Knicks", 
    "ORL": "Orlando Magic", 
    "MIA": "Miami Heat", 
    "DET": "Detroit Pistons", 
    "SAS": "San Antonio Spurs", 
    "TOR": "Toronto Raptors", 
    "LAC": "La Clippers", 
    "CLE": "Cleveland Cavaliers", 
    "GSW": "Golden State Warriors", 
    "CHI": "Chicago Bulls", 
    "MEM": "Memphis Grizzlies", 
    "ATL": "Atlanta Hawks", 
    "WAS": "Washington Wizards", 
    "IND": "Indiana Pacers", 
    "BKN": "Brooklyn Nets", 
    "HOU": "Houston Rockets", 
    "UTA": "Utah Jazz", 
    "POR": "Portland Trail Blazers", 
    "NOP": "New Orleans Pelicans",
    "NJN": "New Jersey Nets",
    "BRK": "Brooklyn Nets",
    "SEA": "Seattle SuperSonics",
    "CHO": "Charlotte Hornets",
    "2TM": "Total",
    "3TM": "Total",
}

In [16]:
player_stats.columns = player_stats.columns.str.lower().str.replace(' ', '_')
player_stats['team'] = np.where(player_stats['team'].isin(['NOH', 'NOK']), 'NOP', player_stats['team'])
player_stats['team'] = player_stats['team'].map(team_mapping)
player_stats

,season,team,pos,g,gs,mp,fg,fga,fg%,3p,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,name
0,2020-21,Miami Heat,PF,61.0,4.0,737.0,124.0,228.0,0.544,0.0,...,73.0,135.0,208.0,29.0,20.0,28.0,43.0,91.0,304.0,Precious Achiuwa
1,2021-22,Toronto Raptors,C,73.0,28.0,1725.0,265.0,603.0,0.439,56.0,...,146.0,327.0,473.0,82.0,37.0,41.0,84.0,151.0,664.0,Precious Achiuwa
2,2022-23,Toronto Raptors,C,55.0,12.0,1140.0,196.0,404.0,0.485,29.0,...,100.0,228.0,328.0,50.0,31.0,30.0,59.0,102.0,508.0,Precious Achiuwa
3,2023-24,Total,PF,74.0,18.0,1624.0,235.0,469.0,0.501,26.0,...,191.0,296.0,487.0,97.0,46.0,68.0,83.0,143.0,565.0,Precious Achiuwa
4,2023-24,Toronto Raptors,C,25.0,0.0,437.0,78.0,170.0,0.459,13.0,...,50.0,86.0,136.0,44.0,16.0,12.0,29.0,40.0,193.0,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5043,2020-21,La Clippers,C,72.0,33.0,1609.0,257.0,394.0,0.652,1.0,...,189.0,330.0,519.0,90.0,24.0,62.0,81.0,187.0,650.0,Ivica Zubac
5044,2021-22,La Clippers,C,76.0,76.0,1852.0,310.0,495.0,0.626,0.0,...,217.0,427.0,644.0,120.0,36.0,77.0,114.0,203.0,785.0,Ivica Zubac
5045,2022-23,La Clippers,C,76.0,76.0,2170.0,326.0,514.0,0.634,0.0,...,236.0,520.0,756.0,77.0,29.0,98.0,117.0,219.0,818.0,Ivica Zubac
5046,2023-24,La Clippers,C,68.0,68.0,1794.0,337.0,519.0,0.649,0.0,...,196.0,430.0,626.0,93.0,22.0,83.0,79.0,180.0,794.0,Ivica Zubac
5047,2024-25,La Clippers,C,31.0,31.0,1011.0,213.0,347.0,0.614,0.0,...,122.0,267.0,389.0,77.0,22.0,35.0,59.0,64.0,472.0,Ivica Zubac

In [17]:
player_stats[player_stats['season'].isna()]

,season,team,pos,g,gs,mp,fg,fga,fg%,3p,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,name
3693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elfrid Payton

In [18]:
player_stats.dropna(subset='season', inplace=True)
player_stats['season'] = player_stats['season'].str[:5] + (player_stats['season'].str[:4].astype(int) + 1).astype(str)
player_stats.head()

,season,team,pos,g,gs,mp,fg,fga,fg%,3p,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,name
0,2020-2021,Miami Heat,PF,61.0,4.0,737.0,124.0,228.0,0.544,0.0,...,73.0,135.0,208.0,29.0,20.0,28.0,43.0,91.0,304.0,Precious Achiuwa
1,2021-2022,Toronto Raptors,C,73.0,28.0,1725.0,265.0,603.0,0.439,56.0,...,146.0,327.0,473.0,82.0,37.0,41.0,84.0,151.0,664.0,Precious Achiuwa
2,2022-2023,Toronto Raptors,C,55.0,12.0,1140.0,196.0,404.0,0.485,29.0,...,100.0,228.0,328.0,50.0,31.0,30.0,59.0,102.0,508.0,Precious Achiuwa
3,2023-2024,Total,PF,74.0,18.0,1624.0,235.0,469.0,0.501,26.0,...,191.0,296.0,487.0,97.0,46.0,68.0,83.0,143.0,565.0,Precious Achiuwa
4,2023-2024,Toronto Raptors,C,25.0,0.0,437.0,78.0,170.0,0.459,13.0,...,50.0,86.0,136.0,44.0,16.0,12.0,29.0,40.0,193.0,Precious Achiuwa

### **player_stats_per_game.csv**

In [19]:
player_stats_per_game.columns = player_stats_per_game.columns.str.lower().str.replace(' ', '_')
player_stats_per_game['team'] = np.where(player_stats_per_game['team'].isin(['NOH', 'NOK']), 'NOP', player_stats_per_game['team'])
player_stats_per_game['team'] = player_stats_per_game['team'].map(team_mapping)
player_stats_per_game

,season,team,pos,g,gs,mp,fg,fga,fg%,3p,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,name
0,2020-21,Miami Heat,PF,61.0,4.0,12.1,2.0,3.7,0.544,0.0,...,1.2,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0,Precious Achiuwa
1,2021-22,Toronto Raptors,C,73.0,28.0,23.6,3.6,8.3,0.439,0.8,...,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,Precious Achiuwa
2,2022-23,Toronto Raptors,C,55.0,12.0,20.7,3.6,7.3,0.485,0.5,...,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2,Precious Achiuwa
3,2023-24,Total,PF,74.0,18.0,21.9,3.2,6.3,0.501,0.4,...,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6,Precious Achiuwa
4,2023-24,Toronto Raptors,C,25.0,0.0,17.5,3.1,6.8,0.459,0.5,...,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7,Precious Achiuwa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026,2020-21,La Clippers,C,72.0,33.0,22.3,3.6,5.5,0.652,0.0,...,2.6,4.6,7.2,1.3,0.3,0.9,1.1,2.6,9.0,Ivica Zubac
5027,2021-22,La Clippers,C,76.0,76.0,24.4,4.1,6.5,0.626,0.0,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,Ivica Zubac
5028,2022-23,La Clippers,C,76.0,76.0,28.6,4.3,6.8,0.634,0.0,...,3.1,6.8,9.9,1.0,0.4,1.3,1.5,2.9,10.8,Ivica Zubac
5029,2023-24,La Clippers,C,68.0,68.0,26.4,5.0,7.6,0.649,0.0,...,2.9,6.3,9.2,1.4,0.3,1.2,1.2,2.6,11.7,Ivica Zubac
5030,2024-25,La Clippers,C,31.0,31.0,32.6,6.9,11.2,0.614,0.0,...,3.9,8.6,12.5,2.5,0.7,1.1,1.9,2.1,15.2,Ivica Zubac

In [20]:
player_stats_per_game[player_stats_per_game['season'].isna()]

,season,team,pos,g,gs,mp,fg,fga,fg%,3p,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,name
3678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elfrid Payton

In [21]:
player_stats_per_game.dropna(subset='season', inplace=True)
player_stats_per_game.head()

,season,team,pos,g,gs,mp,fg,fga,fg%,3p,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,name
0,2020-21,Miami Heat,PF,61.0,4.0,12.1,2.0,3.7,0.544,0.0,...,1.2,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0,Precious Achiuwa
1,2021-22,Toronto Raptors,C,73.0,28.0,23.6,3.6,8.3,0.439,0.8,...,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,Precious Achiuwa
2,2022-23,Toronto Raptors,C,55.0,12.0,20.7,3.6,7.3,0.485,0.5,...,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2,Precious Achiuwa
3,2023-24,Total,PF,74.0,18.0,21.9,3.2,6.3,0.501,0.4,...,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6,Precious Achiuwa
4,2023-24,Toronto Raptors,C,25.0,0.0,17.5,3.1,6.8,0.459,0.5,...,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7,Precious Achiuwa

### **team_ratings.csv**

In [22]:
team_ratings.columns = team_ratings.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')
team_ratings

,rank,team,conf,div,wins,losses,win_loss_percentage,margin_of_victory,offensive_rating,defensive_rating,net_rating,adjusted_margin_of_victory,adjusted_offensive_victory,adjusted_defensive_rating,adjusted_net_rating,season
0,1,Utah Jazz,W,M,60,22,0.732,7.99,115.18,106.48,8.70,7.75,115.00,106.58,8.43,1994-1995
1,2,Seattle SuperSonics,W,P,57,25,0.695,8.18,115.51,107.06,8.45,7.91,115.34,107.19,8.16,1994-1995
2,3,Orlando Magic,E,A,57,25,0.695,7.06,115.89,108.48,7.41,6.44,115.90,109.13,6.77,1994-1995
3,4,San Antonio Spurs,W,M,62,20,0.756,5.96,112.31,106.04,6.27,5.90,112.13,105.93,6.19,1994-1995
4,5,Chicago Bulls,E,C,47,35,0.573,4.83,110.15,105.13,5.02,4.31,110.00,105.51,4.49,1994-1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,26,Memphis Grizzlies,W,SW,27,55,0.329,-7.00,108.12,115.30,-7.18,-6.57,108.28,115.02,-6.74,2023-2024
884,27,Portland Trail Blazers,W,NW,21,61,0.256,-9.02,109.34,118.60,-9.26,-8.29,109.65,118.16,-8.51,2023-2024
885,28,Detroit Pistons,E,C,14,68,0.171,-9.11,110.42,119.51,-9.09,-9.06,110.43,119.48,-9.05,2023-2024
886,29,Washington Wizards,E,SE,15,67,0.183,-9.29,111.12,120.22,-9.10,-9.29,111.11,120.21,-9.11,2023-2024
887,30,Charlotte Hornets,E,SE,21,61,0.256,-10.24,110.27,120.89,-10.63,-10.12,110.23,120.71,-10.48,2023-2024

### **rookie_stats.csv**

In [23]:
rookie_stats.columns = rookie_stats.columns.str.lower().str.replace(' ', '_')
rookie_stats['debut_date'] = rookie_stats['debut'].str[:11].str.replace("'", '')
rookie_stats['debut_date'] = pd.to_datetime(arg=rookie_stats['debut_date'], format='mixed')
rookie_stats['debut_match'] = rookie_stats['debut'].str[12:]
rookie_stats.drop(columns='debut', inplace=True)
rookie_stats

,season,rank,player,age,yrs,g,mp,fg,fga,3p,...,3p%,ft%,mp_(per_game),pts_(per_game),trb_(per_game),ast_(per_game),stl_(per_game),blk_(per_game),debut_date,debut_match
0,1999-2000,1,Rafer Alston,23,11,671,19392,2450,6391,996,...,0.354,0.729,28.9,10.1,2.8,4.8,1.2,0.2,2000-02-17,MIL vs. IND
1,1999-2000,2,Chucky Atkins,25,11,696,17304,2479,6022,934,...,0.364,0.772,24.9,9.9,1.7,3.4,0.7,0.1,1999-11-02,ORL @ CHH
2,1999-2000,3,William Avery,20,3,142,1205,137,415,40,...,0.255,0.714,8.5,2.7,0.7,1.4,0.2,0.0,1999-11-13,MIN vs. PHO
3,1999-2000,4,Jonathan Bender,19,8,262,3847,509,1221,101,...,0.340,0.763,14.7,5.5,2.2,0.6,0.2,0.6,1999-12-10,IND vs. CLE
4,1999-2000,5,Calvin Booth,23,10,366,4477,472,1047,2,...,0.222,0.748,12.2,3.3,2.8,0.4,0.3,1.0,2000-03-25,WAS @ DAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114,2024-2025,72,Keaton Wallace,25,1,12,194,22,55,8,...,0.308,1.000,16.2,4.7,1.5,1.8,0.8,0.5,2024-10-27,ATL @ OKC
2115,2024-2025,73,Ja'Kobe Walter,20,1,12,227,33,92,10,...,0.222,0.714,18.9,7.2,3.2,1.5,0.6,0.3,2024-11-01,TOR vs. LAL
2116,2024-2025,74,Kel'el Ware,20,1,10,69,10,25,2,...,0.286,1.000,6.9,2.4,1.6,0.1,0.3,0.5,2024-10-23,MIA vs. ORL
2117,2024-2025,75,Jaylen Wells,21,1,26,645,108,236,48,...,0.390,0.800,24.8,11.5,3.4,1.8,0.4,0.2,2024-10-23,MEM @ UTA
2118,2024-2025,76,Cody Williams,20,1,16,299,18,67,7,...,0.189,0.600,18.7,3.1,2.3,1.2,0.4,0.3,2024-10-23,UTA vs. MEM

### **Write cleaned data to file csv**

In [24]:
nba_achievements.to_csv(path_or_buf='final_data/nba_achievements.csv', index=False)
nba_all_time_records.to_csv(path_or_buf='final_data/nba_all_time_records.csv', index=False)
nba_hall_of_fame.to_csv(path_or_buf='final_data/nba_hall_of_fame.csv', index=False)
nba_roster.to_csv(path_or_buf='final_data/nba_roster.csv', index=False)
nba_active_teams.to_csv(path_or_buf='final_data/nba_active_teams.csv', index=False)
nba_defunct_teams.to_csv(path_or_buf='final_data/nba_defunct_teams.csv', index=False)
nba_players.to_csv(path_or_buf='final_data/nba_players.csv', index=False)
season_meta.to_csv(path_or_buf='final_data/season_meta.csv', index=False)
team_stats.to_csv(path_or_buf='final_data/team_stats.csv', index=False)
team_stats_per_game.to_csv(path_or_buf='final_data/team_stats_per_game.csv', index=False)
player_stats.to_csv(path_or_buf='final_data/player_stats.csv', index=False)
player_stats_per_game.to_csv(path_or_buf='final_data/player_stats_per_game.csv', index=False)
team_ratings.to_csv(path_or_buf='final_data/team_ratings.csv', index=False)
rookie_stats.to_csv(path_or_buf='final_data/rookie_stats.csv', index=False)